body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: #414144;
}

/* .fullscreen-enabled .fullScreenContainer {
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.fullscreen-enabled {
  background: white;
} */
